@use '../abstracts' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: $red;
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1rem;
  color: #fff;

  @include sm-max{
    padding: 4.5rem 1rem 0;
  }
  @include lg-min{
    background-image: url("../images/bg-intro-desktop.png");
  }
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  margin: 2rem 0;

  @include lg-min{
    margin: 1rem 0;
  }
}